# dependencies
node_modules
.bun
.pnpm-store

# build outputs
.next
out
dist
build

# logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
bun.lockb.old

# env files (keep only what you explicitly copy)
.env
.env.local
.env.development
.env.production
.env.test

# git
.git
.gitignore

# docker
Dockerfile*
.dockerignore

# IDE / editor
.vscode
.idea
*.swp

# OS files
.DS_Store
Thumbs.db

# tests & coverage
coverage
__tests__
*.test.*
*.spec.*

# misc
*.md